{% extends 'base.html.twig' %}

{% block title %}Nouvelle prescription{% endblock %}

{% block body %}
    <h1>Créer une prescription</h1>

    {{ include('prescription/_form.html.twig') }}

{% endblock %}
